
@font-face {
  font-family: 'IRANSans';
  src: url('./fonts/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),
  url('./fonts/IRANSansWeb(FaNum)_Light.woff') format('woff'),
  url('./fonts/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
  url('./fonts/IRANSansWeb(FaNum)_Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: IRANSans;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
